{% extends "base.html" %}

{% block content %}
<h1>
    {{ page_title }}
</h1>

<form role="form" method="POST">
    <div class="form-group">
        <label for="title">Title</label>
        <input type="text" class="form-control" id="title" name="title" placeholder="Entry title" value="{{ entry_title }}" required>
    </div>
    <div class="form-group">
        <label for="content">Content</label>
        <textarea class="form-control" id="content" name="content" placeholder="Entry content" rows="20" required>{{ entry_content }}</textarea>
    </div>
    <button type="submit" class="btn btn-default" name="action" value="update">Submit</button>
</form>
{% if show_delete %}
<form action="{{ url_for('delete_entry_post', id=entry_id) }}" method="POST" style="display:inline-block;">
        <button type="submit" class="btn btn-default" name="action" value="delete" onclick="return confirm('Are you sure that you want to delete this?');">Delete</button>
</form>
{% endif %}
{% endblock %}
