div.metadata {
    margin-top: 20px;
    font-size: 1.5em;
}

.linkButton {
    background:None; 
    border:None; 
    padding:0;
    color: #428bca;
}

.linkButton:hover {
    text-decoration: underline;    
}